.game-board {
  height: 50%;

  table {
    margin: 0 auto;
    min-height: $game-board-min-height;
    height: 100%;
    width: 80%;
    border-spacing: 1px;
  }

  &__row {
  }

  &__cell {
    border: 4px solid silver;
    min-width: $game-board-cell-min-width;
    height: 150px;
    overflow: hidden;
    text-align: center;
    font-size: 100px;

    &:hover {
      @include animation(glow 1.25s ease-in-out);
      @include animation-iteration-count(infinite);
      @include animation-direction(alternate);
      @include keyframes(glow) {
        from {
          background-color: white;
        }
        to {
          background-color: rgb(62, 111, 187);
        }
      };
      cursor: pointer;
    }
  }

  &__info {
    font-size: 24px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
}
